{% extends "base.html" %}

{% block content %}
{{state}}
<form action='/' method="post">{% csrf_token %}
    {% if next %}
        <input type = 'hidden' name='next' value='{{ next }}' />
    {% endif %}
    username:
    <input type='text' name='username' value='{{ username }}' /><br/>
    password:
    <input type='password' name='password' value='{{ password }}' /><br/>
    <input type='submit' value='Log in' />
</form>
<div class="zocial-div">
    <a href="#" class="zocial facebook">Sign in with Facebook</a>
    <a href="#" class="zocial google">Sign in with Google</a>
</div>
{% endblock %}